<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <% include partials/content/highlights.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div id= "map"></div>

        </div><!-- primary -->
        <aside class="col-lg-3 col-md-4 col-sm-6">

        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
    <% include partials/template/jsdefaults.ejs %>
  </body>
  <!-- <script>
  var map;
  var centerPos = {lat:40.5053128, lng:-74.4531979};
  function initMapSpecial() {
    map = new google.maps.Map(document.getElementById('map'),
    {
      center: centerPos,
      zoom: 18

    });
  };
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Ty6i_atvbwQ3c66H_OpoaXYnBDNPaVc&callback=initMapSpecial"
  async defer></script>
 -->
</html>
